
<div class="container">
    <hr>
    <h3>ABOUT ME</h3>
     <hr>
    <div class="row">
        <div class="col-sm-6" style="background-color:yellow;">
            <p>
                Multi-skilled, self-motivated, professional software developer with board knowledge to devloping secure software. Highly
                poised and dedicated with strong mathematical, deductive reasoning, and problem-solving abilities.
            </p>
        </div>
        <div class="col-sm-6" style="background-color:pink;">
            <p>
            In-depth programming knowledge, Ability to deliver projects in time, Capable of working alone and with teams Ability to
            develop quality applications and meet clients' demand, Approachable and dependable individual Detail oriented and interest in staying abreast with latest technology
        </p>
       
    </div>
    <div class="col-sm-6" style="background-color:rgb(170, 170, 145);">
        <p>
            Strong background of financial accounting helps to create perfect e-commerce application. Strong ananlysing
            ability and
            profound knowledge of mangement is the key to develop the best software.
        </p>
    </div>
    <div class="col-sm-6" style="background-color:rgb(157, 140, 235);">
        <p>
            Strong background of financial accounting helps to create perfect e-commerce application. Strong ananlysing
            ability and
            profound knowledge of mangement is the key to develop the best software.
        </p>
    </div>
        
    </div>
</div>
<hr>
<app-education></app-education>