<nav class="navbar navbar-expand-md navbar-light bg-info">
   
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-home" style="font-size:36px;color:burlywood"></i>Home <span
                        class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/makeafriend"><i class="fa fa-heart"
                        style="font-size:30px;color:red "></i>My Like List</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/message"><i class="fa fa-comments"
                        style="font-size:30px;color:black "></i>Message</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/friends"><i class="fa fa-search"
                        style="font-size:30px;color:black "></i>Friends Finder</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="dropdown01" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-angle-double-right"
                        style="font-size:30px;color:black "></i>More..</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" routerLink="/register">Register</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/mynews">News</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/buyandsale">Buy&Sale</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/myjob">Jobs</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/myevents">Events</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" routerLink="/property">Property</a>

                </div>
            </li>



        </ul>


        
        

    </div>
</nav>
