<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-outline-secondary mr-5" type="button" routerLink="/intro" routerLinkActive="active-link">INTRO</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button" routerLink="/about">ABOUT</button>
            </li>

            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button" routerLink="/job">EDUCATION</button>
            </li>
                <li class="nav-item">
                    <button class="btn btn-outline-secondary mr-5" type="button"routerLink="/skills">SKILLS</button>
                </li>

            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button"  routerLink="/education" >EXPERIENCE</button>
            </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-secondary mr-5" type="button" routerLink="/blog">BLOG</button>
                        </li>

            <li class="nav-item mr-5">
                <button class="btn btn-outline-secondary mr-2" type="button" routerLink="/contract">SAY HELLO</button>
            </li>
            <li>
                <a href=" https://twitter.com/DineshG822" target="_blank">
               
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                    <i></i>
                </span>
                </a>
            </li>
            <a href="https://www.facebook.com/dinesh.ghimire.547" target="_blank">
                
            
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </li>
            </a>

            <a href="https://www.instagram.com/dinesh_ghimire/" target="_blank">
                <li>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square-o fa-stack-2x"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>
                </li>
            </a>
        <a href="https://www.linkedin.com/in/dinesh-ghimire-a428b652/" target="_blank">
            
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-linkedin-square fa-stack-1x"></i>
                </span>
            </li>
            </a>



        </ul>
    </div>


</nav>
<router-outlet></router-outlet>
