<nav class="navbar navbar-expand-md navbar-light bg-dark">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button class="btn btn-outline-secondary mr-5" type="button">INTRO</button>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button">ABOUT</button>
            </li>

            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button">EDUCATION</button>
            </li>
                <li class="nav-item">
                    <button class="btn btn-outline-secondary mr-5" type="button">SKILLS</button>
                </li>

            <li class="nav-item">
                <button class="btn btn-outline-secondary mr-5" type="button">EXPERIENCE</button>
            </li>
                        <li class="nav-item">
                            <button class="btn btn-outline-secondary mr-5" type="button">BLOG</button>
                        </li>

            <li class="nav-item mr-5">
                <button class="btn btn-outline-secondary mr-2" type="button">SAY HELLO</button>
            </li>
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
            </li>
            <li>
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-linkedin-square fa-stack-1x"></i>
                </span>
            </li>



        </ul>
    </div>


</nav>
