<br>
<h3>SELECTED WORKS</h3>
<div class="card">

<hr>
        <div class="row">
            <div  class="col-sm-4">
                <div class="item"><img  alt="portfolio image"
                        src="./../../../assets/image/download.jpg">
                    <div  class="isotope-overlay"><a
                            href="http://shivaprogramming.com/mstech/" target="_blank"> Web application </a></div>
                </div>
                <div  class="item"><img  alt="portfolio image"
                        src="./../../../assets/image/download (1).jpg">
                    <div  class="isotope-overlay"><a  href="http://foosball.com"
                            target="_blank"> Banking Web Application </a></div>
                </div>
            </div>
            <div  class="col-sm-4">
                <div class="item"><img  alt="portfolio image"
                        src="./../../../assets/image/images.png" style="height: 300px;">
                    <div class="isotope-overlay"><a 
                            href="" target="_blank"> Database Development
                        </a></div>
                </div>
       
            </div>
            <div  class="col-sm-4">
                <div _ngcontent-c7="" class="item"><img alt="SELECTED"
                        src="./../../../assets/image/105f4d937679a8a99b778ee37640fe18.jpg" style="height: 300px;">
                    <div class="isotope-overlay"><a _ngcontent-c7="" href="#"> Ecommere Web Application
                        </a></div>
                </div>
            </div>
                    <div class="col-sm-4">
                        <div _ngcontent-c7="" class="item"><img alt="SELECTED"
                                src="./../../../assets/image/Untitled.png" style="height: 300px; width: 300px;">
                            <div class="isotope-overlay"><a _ngcontent-c7="" href="#"> Dating Web Application
                                </a></div>
                        </div>
                    </div>
    
        </div>
</div>
<hr>
<app-say-hello></app-say-hello>
<hr>
<br>
<app-footer></app-footer>

