<h3>SELECTED WORKS</h3>
<hr>
<br>
<div class="row">
    <div class="card mr-2">
        <div class="col-6">
            <div class="card-img-wrapper">
                <h4>Pizza Ordering Web Application</h4>

                <img class="card-img-top" src="./../../../assets/image/105f4d937679a8a99b778ee37640fe18.jpg"
                    alt="Pizza App">

            </div>

        </div>


        <div class="col-6">
            <div class="card-img-wrapper">
                <h4>Pizza Ordering Web Application</h4>

                <img class="card-img-top" src="./../../../assets/image/images.png" alt="Pizza App">

            </div>

        </div>
        <div class="col-6">

            <div class="card-img-wrapper">
                <h4>Banking Web Application</h4>

                <img class="card-img-top" src="./../../../assets/image/download (1).jpg" alt="Pizza App">

            </div>
        </div>
        <div class="col-6">
            <div class="card-img-wrapper">
                <h4>Banking Web Application</h4>

                <img class="card-img-top" src="./../../../assets/image/download.jpg" alt="Pizza App">

            </div>
        </div>

    </div>

</div>