<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="container">
    <h3>EDUCATION</h3>
    <div class="row">
        <div class="main-timeline10">
            <div class="col-md-4 col-sm-6 timeline">
                <div class="timeline-inner">
                    <div class="year">2019</div>
                    <div class="timeline-content">
                        <div class="post">Bachelor Degree in Software Development and Security </div>
                        <p class="description">
                            University of Maryland University College
                        </p>
                    </div>
                    <div class="timeline-icon">
                        <i class="fa fa-university"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 timeline">
                <div class="timeline-inner">
                    <div class="year">2017</div>
                    <div class="timeline-content">
                        <div class="post">Certification in Financial Accounting</div>
                        <p class="description">
                            Anne Arundel Community College
                            <br>
                            <br>
                            <br>
                        </p>
                    </div>
                    <div class="timeline-icon">
                        <i class="fa fa-university"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 timeline">
                <div class="timeline-inner">
                    <div class="year">2012</div>
                    <div class="timeline-content">
                        <div class="post">Master Degree in Financial Accounting</div>
                        <p class="description">
                            Tribhuvan University Nepal
                            <br>
                            <br>
                            <br>

                        </p>
                    </div>
                    <div class="timeline-icon">
                        <i class="fa fa-university"></i>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<hr>
