

<section class="mt-4">

<!--Section heading-->
<h2 class="h1-responsive font-weight-bold text-center my-4">SAY HELLO</h2>
<!--Section description-->
<p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
    directly. Our team will come back to you within
    a matter of hours to help you.</p>
<hr>
<a target="_self" href="../../../assets/image/Dinesh_Ghimire_Resume.pdf" download="Dinesh_Ghimire_Resume.pdf">Download Resume</a>
<hr>
<div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
        <div class="container">
<form action="https://formspree.io/xdolqvkp" method="POST">
    <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
</div>
<div class="form-group">
    <label for="message">Message:</label>
<textarea rows="4"  class="form-control"></textarea>
</div>

<button type="submit" class="btn btn-primary">Send</button>
    
</form>

        </div>
    
      
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-3 text-center">
        <ul class="list-unstyled mb-0">
            <li><i class="fa fa-map-marker"></i>
                <p>Glen Burnie, MD 21061, USA</p>
            </li>

            <li><i class="fa fa-phone mt-4 fa-2x"></i>
                <p>+ 01 410 903 8680</p>
            </li>

            <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                <p>dineshg822@gmail.com</p>
            </li>

            <li>
                 <a href=" https://twitter.com/DineshG822" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                </span>
                 </a>
                <a href="https://www.facebook.com/dinesh.ghimire.547" target="_blank">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </span>
                </a>
                
            
        <a href="https://www.instagram.com/dinesh_ghimire/" target="_blank">
            
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x"></i>
                </span>
                
        </a>
            
                <a href="https://www.linkedin.com/in/dinesh-ghimire-a428b652/" target="_blank">
           
                
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-linkedin-square fa-stack-1x"></i>
                </span>
                </a>
            </li>
        </ul>
        
    </div>
    <!--Grid column-->

</div>

</section>



