
<h3>SKILLS</h3>
<br>
<div class="container mt-2">
    <div class="row">
        



        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-html5 fa-stack-1x"></i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-css3 fa-stack-1x"></i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x"></i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x"> C#</i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linux fa-stack-1x"></i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-windows fa-stack-1x"></i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-android fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-laptop fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-google fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-apple fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa fa-openid fa-stack-1x"> </i>
            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/64/000000/docker.png" alt="docker">
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/64/000000/gitlab.png" alt="docker">
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/nolan/64/js.png" alt="docker">
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/64/000000/microsoft-sql-server.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/64/000000/angularjs.png" alt="docker">
                </i>

            </span>

        </div>

        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/64/000000/visual-studio.png" alt="docker">
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>
        <div class="col-sm-2">

            <span class="fa-stack fa-4x">
                <i class="fa fa-square-o fa-stack-2x"></i>
                <i class="fa-stack-1x">
                    <img src="https://img.icons8.com/color/48/000000/oracle-logo.png" />
                </i>

            </span>

        </div>



    </div>
</div>
<hr>
<app-selected-work></app-selected-work>