<div>
    <section _ngcontent-c5="" class="skills" id="skills">
        <div _ngcontent-c5="" class="skill-content">
            <div _ngcontent-c5="" class="section-heading text-center">
                <h2 _ngcontent-c5="">Skills</h2>
            </div>
            <div _ngcontent-c5="" class="container">
                <div _ngcontent-c5="" class="row">
                    <div _ngcontent-c5="" class="col-md-12">
                        <section _ngcontent-c5="" class="icons">
                            <div _ngcontent-c5="" class="row">
                                <div _ngcontent-c5="" class=" col-sm-2 col-xs-2 service-item col-md-2 "><span
                                        _ngcontent-c5="" class="top-icon service-icon tile-html5 tile-html5-desk"><i
                                            _ngcontent-c5="" class="fa fa-html5"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-css3 tile-css3-desk"><i _ngcontent-c5=""
                                            class="fa fa-css3"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-github tile-github-desk"><i _ngcontent-c5=""
                                            class="fa fa-github"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-apple tile-apple-desk"><i _ngcontent-c5=""
                                            class="fa fa-apple"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-sharp tile-csharp-desk"><span
                                            _ngcontent-c5="">C#</span></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class=" top-icon service-icon tile-linux tile-linux-desk"><i _ngcontent-c5=""
                                            class="fa fa-linux"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-windows tile-windows-desk"><i _ngcontent-c5=""
                                            class="fa fa-windows"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="  top-icon service-icon tile-database tile-database-desk"><i
                                            _ngcontent-c5="" class="fa fa-database"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="  top-icon service-icon tile-mobile tile-mobile-desk"><i _ngcontent-c5=""
                                            class="fa fa-mobile"></i></span></div>
                                <div _ngcontent-c5="" class=" col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class="  top-icon service-icon tile-android tile-android-desk"><i
                                            _ngcontent-c5="" class="fa fa-android"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2"><span _ngcontent-c5=""
                                        class=" top-icon service-icon tile-database tile-database-desk"><i
                                            _ngcontent-c5="" class="fa fa-laptop"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-lime tile-css3 tile-css3-desk"><i
                                            _ngcontent-c5="" class="fa fa-th-large"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class=" top-icon service-icon tile-desk "><img _ngcontent-c5=""
                                            src="https://img.icons8.com/color/48/000000/gitlab.png"></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class=" top-icon service-icon tile-d tile-d-desk"><i _ngcontent-c5=""
                                            class="fa fa-openid"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item"><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-linked tile-linked-desk "><i _ngcontent-c5=""
                                            class="fa fa-linkedin"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-twitter "><img _ngcontent-c5=""
                                            src="https://img.icons8.com/color/48/000000/docker.png"></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-google tile-google-desk"><i _ngcontent-c5=""
                                            class="fa fa-google"></i></span></div>
                                <div _ngcontent-c5="" class="col-xs-2 col-md-2 service-item "><span _ngcontent-c5=""
                                        class="top-icon service-icon tile-facebook "><img _ngcontent-c5=""
                                            src="https://img.icons8.com/windows/48/000000/jenkins.png"></span></div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<hr>

